/day 6/node_modules
/day 7/node_modules
/day 8/node_modules
/day 10/node_modules
/day 11/node_modules
/day 12/node_modules
/day 13/node_modules
/day 14/node_modules
/day 15/node_modules
/day 16/node_modules
/day 16/.env
/day 17/node_modules
/day 17/.env
/day 18/node_modules
/day 18/.env
/day 19/node_modules
/day 19/.env
/day 20/node_modules
/day 20/.env
/day 22/node_modules
/day 22/.env
/day 23/node_modules
/day 23/.env
/day 24/node_modules
/day 24/.env
/day 25/node_modules
/day 25/.env
/day 26/node_modules
/day 26/.env
/day 27/node_modules